:root {
  --accent-color: #fa4a0c;
  --main-color: #737373;
  --add-color: #252b42;
  --text: #5c5c5c;
}
body {
  font-family: 'Montserrat';
}
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.list {
  list-style: none;
  padding: 0;
}
.link {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  width: 1469px;
  margin: 0 auto;
  padding: 0 15px;
}
/*The start of header position*/
.container-position {
  display: flex;
}
.nav-list {
  display: flex;
}
.nav-item:first-child {
  margin-left: 465px;
  margin-right: 114px;
}
.nav-item+.nav-item {
  margin-right: 114px;
}
.nav-item{
  margin-top: 54px;
}
/*The end*/
.nav-link:focus, .nav-link:hover{
  color: var(--accent-color);
}
.nav-link {
  color: var(--add-color);
  font-weight: 600;
  line-height: 28px; /* 175% */
  letter-spacing: 0.2px;
}
.restaurant-title {
  /*Пока нету заднего фона ставлю дефолтный цвет*/
  /* color: #F6F6F6; */
  text-align: center;
  line-height: 36px;
  letter-spacing: 0.1px;
  padding-top: 80px;
}
.restaurant-info {
  /* color: #FFF; */
  text-align: center;
  font-family: Poppins;
  font-size: 58px;
  font-style: normal;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: 0.2px;
  padding-top: 10px;
}
.restaurant-description {
  /*тоже самое*/
  /* color: #F6F6F6; */
  text-align: center;
  font-size: 24px;
  line-height: 38px; /* 158.333% */
  letter-spacing: 0.2px;
  padding-top: 14px;
}
.restaurant-app-list {
  display: flex;
  justify-content: center;
}
.restaurant-app-btn {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px; /* 150% */
  letter-spacing: 0.1px;
  border-radius: 30px;
  border-color: #fff;
  margin-right: 67px;
  margin-top: 54px;
  padding: 16px 73px 16px 58px;
}
.restaurant-app-btn:hover {
  background: var(--accent-color);
  color: #fff;
}
.list-app-works {
  display: flex;
  flex-wrap: wrap;
}

.app-works-title {
  font-family: Poppins;
  font-size: 44px;
  font-weight: 600;
  line-height: 36px; /* 81.818% */
  letter-spacing: 0.1px;
  text-align: center;
  margin-top: 93px;
}
/*The start of main section`s position*/
.app-work-description {
  display: flex;
}
.info-position {
  display: flex;
  flex-direction: column;
}
.instruction {
  margin-left: 287px;
  margin-top: 17px;
}
.instruction:first-child {
  margin-top: 183px;
}
.explore-position {
  margin-right: 356px;
  margin-top: 27px;
}
.explore-position:first-child {
  margin-top: 134px;
}
.shop-info {
  margin-top: 27px;
}
.creating-account,
.app-work-title {
  color: var(--accent-color);
  font-size: 24px;
  font-weight: 700;
  line-height: 36px; /* 150% */
  letter-spacing: 0.1px;
}
.varietes-description {
  display: flex;
  flex-direction: row-reverse;
}
/*The end of main section`s position*/
.creating-account-info,
.shop {
  color: var(--add-color);
  font-size: 40px;
  font-weight: 700;
  line-height: 57px; /* 142.5% */
  letter-spacing: 0.2px;
}
.creating-account-description,
.shop-info {
  color: var(--main-color);
  font-size: 24px;
  line-height: 38px; /* 158.333% */
  letter-spacing: 0.2px;
}
/*Footer*/
.order-now-title {
  /* color: var(--Light-text, #fff); */
  text-align: center;
  font-size: 40px;
  line-height: 57px; /* 142.5% */
  letter-spacing: 0.2px;
  margin-top: 150px;
}
.order-now-info {
  /* color: #fff; */
  text-align: center;
  font-size: 24px;
  line-height: 38px; /* 158.333% */
  letter-spacing: 0.2px;
}
.order-now-list {
  display: flex;
  justify-content: center;
}
.order-now-btn {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px; /* 150% */
  letter-spacing: 0.1px;
  border-radius: 10px;
  border-color: #fff;
  padding: 18px 31px;
  margin-right: 16px;
  margin-bottom: 133px;
}
.order-now-btn:hover {
  background: var(--accent-color);
  color: #fff;
}
.copyright {
  display: flex;
  justify-content: end;
}
.copyright-link {
  color: var(--text);
  font-family: Roboto;
  font-size: 12px;
  line-height: 18px; /* 150% */
  letter-spacing: 0.1px;
}
