:root {
  --accent-color: #fa4a0c;
  --main-color: #737373;
  --add-color: #252b42;
  --text: #5c5c5c;
}
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.list {
  list-style: none;
  padding: 0;
}
.link {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.nav-link {
  color: var(--add-color);
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 175% */
  letter-spacing: 0.2px;
}
.restaurant-title {
  /*Пока нету заднего фона ставлю дефолтный цвет*/
  /* color: #F6F6F6; */
  text-align: center;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.1px;
}
.restaurant-info {
  /*тоже самое*/
  /* color: #FFF; */
  text-align: center;
  font-family: Poppins;
  font-size: 58px;
  font-style: normal;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: 0.2px;
}
.restaurant-description {
  /*тоже самое*/
  /* color: #F6F6F6; */
  text-align: center;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 38px; /* 158.333% */
  letter-spacing: 0.2px;
}
.restaurant-app-btn {
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; /* 150% */
  letter-spacing: 0.1px;
  border-radius: 30px;
  border-style: 1px;
  border-color: #fff;
}
.restaurant-app-btn:hover {
  background: var(--accent-color);
  color: #fff;
}
.app-works-title {
  font-family: Poppins;
  font-size: 44px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px; /* 81.818% */
  letter-spacing: 0.1px;
}
.creating-account,
.app-work-title {
  color: var(--accent-color);
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; /* 150% */
  letter-spacing: 0.1px;
}
.creating-account-info,
.shop {
  color: var(--add-color);
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 57px; /* 142.5% */
  letter-spacing: 0.2px;
}
.creating-account-description,
.shop-info {
  color: var(--main-color);
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 38px; /* 158.333% */
  letter-spacing: 0.2px;
}
/*По скольку футер тоже с картинкой на заднем фоне цвет текста поставлю по дефолту*/
.order-now-title {
  /* color: var(--Light-text, #fff); */
  text-align: center;
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 57px; /* 142.5% */
  letter-spacing: 0.2px;
}
.order-now-info {
  /* color: #fff; */
  text-align: center;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 38px; /* 158.333% */
  letter-spacing: 0.2px;
}
.order-now-btn {
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; /* 150% */
  letter-spacing: 0.1px;
  border-radius: 10px;
  border-style: 1px;
  border-color: #fff;
}
.order-now-btn:hover {
  background: var(--accent-color);
  color: #fff;
}
.copyright-link {
  color: var(--text);
  text-align: right;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px; /* 150% */
  letter-spacing: 0.1px;
}
